@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(219, 255, 243);
    font-family: Arial, Helvetica, sans-serif ;
}

h1{
    color: rgb(0, 75, 50);
}

h1#principal{
    text-align: center;
    background-color: rgb(0, 75, 50);
    color: white;
}

h2{
    color: rgb(0, 121, 26);
}

.basico{
    color: rgb(0, 128, 0);
}

.intermediario{
    color: rgb(109, 109, 0);
}

.avancado{
    color: rgb(255, 61, 61);
}

.destaque{
    background-color: rgba(255, 255, 146, 0.699);
}